

body{
    margin: 0;
    padding: 0;
    user-select: none;
    text-align: center;
    font-family: Salsa;
    
}
body::-webkit-scrollbar{
    display: none;
}
.nskor{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: -20px;
    padding: 10px;
}

/* restart */

.tombolReset{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    font-size: 11px;
    color: #FEDB39; 
    border: 5px solid #FEDB39;
    font-weight: bolder;
    border-radius: 50%;
    box-shadow: 4px 5px 5px lightgray;
    margin: auto 1.1rem;
    text-shadow: 1px 1px 1px gray;
}
.tombolReset:active{
    background-color: #FEDB39;
    color: whitesmoke;
    border:5px solid whitesmoke;
    box-shadow: -2px 2px 5px red;
}
.tombolReset:hover{
    cursor: pointer;
}
/* game suwit */
.skor{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: auto 50px;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px black;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 250px;
    height: 280px;
    border:5px solid #FFC436;
    box-sizing: border-box;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5.5px 5.5px lightgray;
    text-shadow: 1px 1px lightslategray;
}
.resulting{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    font-size: 30px;
}
.vs{
    margin-top: -30px;
}
.content{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: 200px;
}
.suwit:hover{
    cursor: pointer;
}
.suwit:active{
    background: linear-gradient(59deg ,#FFFD8C,#FFC436);
}
.suwit{
    box-sizing: border-box;
    margin: auto 10px;
    background: linear-gradient(99deg ,#FFC436,#FFFD8C);
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    box-sizing: border-box;
    border-radius: 15px;
}
.pemain{
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
    
}
h3{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    font-size: 25px;
    color: #00F5FF;
    font-weight: bold;
}
nav{
    background: linear-gradient(99deg ,#F2ECBE,#FFC436);
    height: 50px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1px 1px black;
    box-shadow: 2px 4px lightgray;
}
.botspan{
    color: #FF4848;
}
b{
    color: #FEDB39;
}
@keyframes slide {
    0%{
        height: 0;
        font-size: 2px;
    }
    100%{
        height: 50px;
    }
}
.bks{
    float: left;
    
}
.back{
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 10px;
    top: 10px;
    background-color: #F0DE36;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px lightslategray;
}
.back:active{
    background-color: wheat;
}
.back:hover{
    background-color: wheat;
}
a{
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#skor{
    margin-top: -5px;
    font-weight: bold;
    font-size: 25px;
    color: lightgray;
    text-shadow: 1px 1px black;
    padding: 0;
}
.skor{
    width: 150px;
    background-color: #FFD1DA;
    text-align: left;
    padding: 9px;
    box-sizing: border-box;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.playerss{
    border: 3px solid #00F5FF;
    box-shadow: 4px 4px lightgray;
}
.botss{
    border: 3px solid #FF4848;
    box-shadow: 4px 4px lightgray;
}
.players{
    color: #00F5FF;
}
.bots{
    color: #FF4848;
}
